@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@font-face {
  font-family: "pgm";
  src: url("/fonts/pigame.otf") format("opentype");
}

@font-face {
  font-family: "bby";
  src: url("/fonts/bbydoll.otf") format("opentype");
}

@font-face {
  font-family: "pix";
  src: url("/fonts/minecraft.ttf") format("truetype");
}

h1 {
  font-family: "pgm";
}


h2 {
  font-family: "bby";
}

p {
  font-family: "bby";
}

.text-border {
  color: #d45d9f; /* Warna isi tulisan */
  
  /* -webkit-text-stroke: [tebal] [warna] */
  -webkit-text-stroke: 4px rgb(255, 221, 244); /* Tulisan putih dengan border hitam 2px */
}
